*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav{
    background-color: lightblue;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none; 
}

nav a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.card{
    min-height: 320px;
    width: 200px;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    margin: 80px;
}

.heroi1{
    background-color:yellow;
}

.heroi2{
    background-color:purple;
}

.heroi3{
    background-color:green;
}

